:root {
   --color: #243746;
   --color-primary: #158876;
   --color-secondary: #0e2233;
   --bg: #fffaf5;
   --bg-secondary: #fff;
   --border-color: #ddd;
   --hero1bg: #7000df;
   --hero1color: #fff;
   --hero2color: #fff;
   --hero2bg: #1a202e;
   --menubg: #fff;
   --hoverMenuOverlayBg: #ECFDF5;
   --tooltext: #E9D5FF;
   
 }
 
 .dark-mode {
   --color: #ebf4f1;
   --color-primary: #41b38a;
   --color-secondary: #fdf9f3;
   --bg: #091a28;
   --bg-secondary: #161E2E;
   --border-color: #0d2538;
   --hero1bg: #22d3ee;
   --hero1color: #243746;
   --hero2color: #fff;
   --hero2bg: #1f2937;
   --menubg: #1f2937;
   --hoverMenuOverlayBg: #091a28;
   --tooltext: #E9D5FF;
 }
 
 body {
   font-family: Roboto, 'Open Sans', sans-serif;
   background-color: var(--bg);
   color: var(--color);
   transition: background-color 0.3s;
 }
 a {
   color: var(--color);
 }

 * {
  font-family: 'Fredoka One', cursive;
 }