:root {
   --color: #243746;
   --color-primary: #158876;
   --color-secondary: #0e2233;
   --bg: #fff;
   --bg-secondary: #fff;
   --border-color: #ddd;
   --hero1bg: #6B21A8;
   --hero1color: #fff;
   --hero2color: #fff;
   --hero2bg: #1f2937;
   --menubg: #fff;
   --hoverMenuOverlayBg:  #6B21A8;
   --tooltext: #f4f0f8;
   --bgtools: #8B5CF6;
   --bordercan: #F7F7F7;
   --canbg: #fff;
   
 }
 
 .dark-mode {
   --color: #ebf4f1;
   --color-primary: #41b38a;
   --color-secondary: #fdf9f3;
   --bg: #091a28;
   --bg-secondary: #161E2E;
   --border-color: #0d2538;
   --hero1bg: #6B21A8;
   --hero1color: #fff;
   --hero2color: #fff;
   --hero2bg: #1f2937;
   --menubg: #1f2937;
   --hoverMenuOverlayBg: #091a28;
   --tooltext: #E9D5FF;
   --bgtools: #6B21A8;
   --bordercan: #1f2937;
   --canbg: #091a28;
 }
 
 body {
   font-family: Roboto, 'Open Sans', sans-serif;
   background-color: var(--bg);
   color: var(--color);
 }
 a {
   color: var(--color);
 }